.centro {
display: flex;
flex-direction:column;
justify-content:center;
align-items: center;
}

.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    box-sizing: border-box;

    position: fixed;
    inset: 0; 
    margin: auto;
    
    width: 250px;
    height: 350px;
    padding: 40px;

    background-color: rgb(219, 219, 219);
    transition: 0.5s;
    transform: translateY(-100%);
}
.overlay.entrar {
    opacity: 1;
    transform: translateY(0%);
}

.overlay.sair {
    opacity: 0;
    transform: translateY(-100%);
}
.fundo {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0);
    pointer-events: none;

    transition: 0.5s;
}

.fundo.entrar {
background-color: rgba(0, 0, 0, 0.30);
pointer-events: auto;
}

.fundo.sair {
background-color: rgba(0, 0, 0, 0);
pointer-events: none;
}
/*Botões*/
.botao{
border-radius: 15px;
border: none;

width: auto;
height: auto;
padding: 8px;

font-size: 20px;
font-weight: bold;

transition: 0.2s;
}

.botao.cinza:hover {
    cursor: pointer;
   background-color: #cecece;
}

.botao.cinza:active {
background-color: #acacac;
}

.botao.cinza {
    background-color:#e0e0e0;
    color: #ff4322;
}

.caixatexto {
width: 200px;
height: 30px;

background-color: #d9d9d9;
border: none;
outline: none;

font-family: "inter", sans-serif;
font-size:medium;

padding-left: 8px;
}
.caixatexto:hover {
    background-color: #cecece;
}

/*Tags*/
p {
    margin-bottom: 3px;
    color:#ff4322 ;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-weight: 500;
}

a {
color:#5384ff;
font-family: "inter", sans-serif;
font-size: small;
}
a:hover {
    color: #3d6ce4;
}

h1 {
color:#ff4322;
border: #ff4d01;
border-radius:1px;
}

h2 {
    margin-bottom: 3px;
    color:#ff4322 ;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-weight: 500;
}
